{% extends 'blog/base.html' %}

{% block contenido %}
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
            <!-- Featured blog post-->
            <div class="card mb-4">
                {% if  posts.0 %}
                <a href="#!"><img style="max-width:100%;" class="card-img-top" src="{{ posts.0.image.url }}" alt="..." /></a>
                <div class="card-body">
                    <div class="small text-muted">{{posts.0.date_published}}</div>
                    <h2 class="card-title">{{posts.0.title}}</h2>
                    <p class="card-text">{{posts.0.short_content}}</p>
                    <a class="btn btn-primary" href="{% url 'detail-post' posts.0.id %}">Read more →</a>
                </div>
                {% endif %}
            </div>
            <!-- Nested row for non-featured blog posts-->
            <div class="row">
                <div class="col-lg-6">
                    <!-- Blog post-->
                    {% if posts.1 %}
                    <div class="card mb-4">
                        <a href="#!"><img style="max-width:100%;" class="card-img-top" src="{{ posts.1.image.url }}" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">{{posts.1.date_published}}</div>
                            <h2 class="card-title">{{posts.1.title}}</h2>
                            <p class="card-text">{{posts.1.short_content}}</p>
                            <a class="btn btn-primary" href="{% url 'detail-post' posts.1.id %}">Read more →</a>
                        </div>
                    </div>
                    {% endif %}
                    <!-- Blog post-->
                    <div class="card mb-4">
                    {% if posts.2 %}
                        <a href="#!"><img style="max-width:100%;" class="card-img-top" src="{{ posts.2.image.url }}" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">{{posts.2.date_published}}</div>
                            <h2 class="card-title">{{posts.2.title}}</h2>
                            <p class="card-text">{{posts.2.short_content}}</p>
                            <a class="btn btn-primary" href="{% url 'detail-post' posts.2.id %}">Read more →</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="col-lg-6">
                    {% if posts.3 %}
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img style="max-width:100%;" class="card-img-top" src="{{ posts.3.image.url }}" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">{{posts.3.date_published}}</div>
                            <h2 class="card-title">{{posts.3.title}}</h2>
                            <p class="card-text">{{posts.3.short_content}}</p>
                            <a class="btn btn-primary" href="{% url 'detail-post' posts.3.id %}">Read more →</a>
                        </div>
                    </div>
                    {% endif %}
                    <!-- Blog post-->
                    <div class="card mb-4">
                        {% if posts.4 %}
                                <a href="#!"><img style="max-width:100%;" class="card-img-top" src="{{ posts.4.image.url }}" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">{{posts.4.date_published}}</div>
                            <h2 class="card-title">{{posts.4.title}}</h2>
                            <p class="card-text">{{posts.4.short_content}}</p>
                            <a class="btn btn-primary" href="{% url 'detail-post' posts.4.id %}">Read more →</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">Buscar</div>
                <div class="card-body">
                    <form action="{% url 'search-by-name-post' %}" method="get">
                        {% csrf_token %}
                        <input type="search" name="post-title">
                        <input type="submit" value="Ir">
                    </form>
                </div>
            </div>
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">NUESTRAS SUCURSALES</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="https://devotoshopping.com.ar/">Buenos Aires</a></li>
                                <li><a href="https://www.google.com/maps/place/Mercado+del+Patio/@-32.9397493,-60.6701945,3a,75y,90t/data=!3m8!1e2!3m6!1sAF1QipOJD4vaYm1CVMxftpXdA7J5GgKVxbBQfobhXFa9!2e10!3e12!6shttps:%2F%2Flh5.googleusercontent.com%2Fp%2FAF1QipOJD4vaYm1CVMxftpXdA7J5GgKVxbBQfobhXFa9%3Dw114-h86-k-no!7i4160!8i3120!4m6!3m5!1s0x95b7ab57492cba1f:0xb23fc710e95b463d!8m2!3d-32.9397493!4d-60.6701945!16zL20vMDd4czMx">Rosario</a></li>
                               
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="https://www.google.com/maps/place/Carrefour+Hipermercado/@-27.4490129,-58.992365,14.69z/data=!4m6!3m5!1s0x94450c5d04b0dd6d:0x64bbed295cc3a322!8m2!3d-27.4381569!4d-58.9878603!16s%2Fg%2F1tcxkvy1">Resistencia</a></li>
                                <li><a href="https://www.google.com/maps/place/Hipermercado+Libertad/@-27.4148726,-55.971587,13.44z/data=!4m6!3m5!1s0x9457be8ba9a4bae9:0x33ce7253cfae5338!8m2!3d-27.4010267!4d-55.9164558!16s%2Fg%2F1w0sdz6w">Posadas</a></li>
                               
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header">Vendemos tu auto</div>
                <div class="card-body">¡Olvidate de las complicaciones!
                    Vendemos tu auto en el día o cambialo por un auto!!</div>
            </div>
        </div>
    </div>
{% endblock %}